& {

  header,
  main,
  footer {
    overflow: hidden;
  }

  .pl117 {
    padding-left: 0;
  }

  #nav-icon {
    display: block;
    float: left;
    margin-top: 6px;
  }

  .logo {
    display: inline-block;
    float: right;

    img {
      width: 100px;
    }
  }

  .nav {
    padding: 25px 0;
    z-index: 997;

    &.open {
      overflow: visible;
      z-index: 9999;

      .logo {
        display: none;
      }
    }

    &.fixed {}
  }

  #menu {
    &.open {
      left: 0;
    }

    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
    position: absolute;
    top: -25px;
    left: -999px;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: block;
    transition: .3s;
    height: 150vh;

    li {
      margin: 0 0;
      display: block;

      a {
        display: block;
        margin-bottom: 16px;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 56px;
        opacity: 1;

        letter-spacing: 0.07em;
        text-transform: uppercase;

        color: #FFFFFF;
      }
    }
  }

  .slick-slide img {
    width: auto;
    min-height: 695px;
    height: 100vh;
    max-width: inherit;
    //    transform: translateX(-50%);
  }

  .nav-owrl {
    top: 112px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    left: 0;
    height: 34px;
    padding-left: 45px;
    z-index: 997;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &:before {
      content: "";
      background: rgba(246, 118, 54, .1);
      -webkit-backdrop-filter: blur(13.56px);
      backdrop-filter: blur(13.56px);
      width: 805px;
      height: 40px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }
  }

  .slider-nav {
    max-width: inherit;
    position: relative;
    width: 645px;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 997;
    text-align: left;

    &:before {
      display: none;
    }
  }

  .slider-nav li {

    font-size: 16px;
    line-height: 1;
    //    padding: 4px 3px 4px;
  }

  .slider-nav:before {

    top: -4px;
  }

  .head-slider .item .caption {
    top: 60.597222vw;
    left: 16px;

    .slider-title {
      font-size: 40px;
      line-height: 40px;
      margin-bottom: 32px;
    }

    ul {
      li {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
      }
    }
  }

  .head-contacts {
    a {
      &.phone {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 8px;
      }

      &.email {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .section {
    padding: 0px 0;
  }

  .section_one-item {
    padding-top: 40px;
    padding-bottom: 40px;

    .h2-title {}
  }

  .section_one-item.bg .h2-title {
    max-width: 288px;

  }

  .section_one-item.bg:before {
    width: 125vw;
    right: inherit;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
  }

  .h2-title {
    font-size: 32px;
    line-height: 40px;
  }

  .title-small {
    font-size: 11px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .section_one-item.bg .h2-title:after {
    content: "";
    background: url(../images/arrbg.svg) center no-repeat;
    width: 154.23px;
    height: 181.15px;
    background-size: 100%;
    position: absolute;
    top: 15px;
    left: 139px;
  }

  .section_one-item p.large {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .section_one-item p,
  p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .xs-none {
    display: none;
  }

  .xs-block {
    display: block;
  }

  .section_two-left {
    margin-top: 0;
    margin-bottom: 40px;
  }

  .section_two-item .img {
    margin-bottom: 40px;

    img {
      width: 100%;
      max-width: 700px;

    }
  }

  .section_two {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .section_one-item {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section_two-item {
    p {
      &.large {
        margin-bottom: 0;
      }
    }
  }

  p.large {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .section_map-nav li a {
    font-size: 16px;
    line-height: 21px;

    span {
      display: none;
    }
  }

  .section_map-nav {
    margin-left: 0;
  }

  .section_map-nav:before,
  .section_map-nav li.active:before,
  .section_map-nav li:hover:before {
    height: 40px;
  }

  .section_map-nav li {
    padding: 9px 28px 10px;
  }

  #tab2 .section_map-points li span {
    display: none;
  }

  .section_map-points li img {
    width: 16px;
    margin: 0;
  }

  .section_map-content:before {
    width: 100%;
  }

  .section_map-points li {
    width: auto !important;
  }

  .section_map-info:after {
    width: 100%;
    height: 100%;
    //    display: none;
  }

  .section_map-info {
    position: relative;
    margin-top: 0;
    padding: 30px 30px 6px;
  }

  /*
  .section_map-item {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 24px;

    img {
      width: 12px;
    }

  }
*/
  .section_map-item:last-child {
    margin-bottom: 24px;
  }

  .partners {
    margin-top: 0;
    padding-top: 40px;
  }

  .service {
    padding-top: 0;
  }

  .service-img {
    margin-bottom: 40px;

    img {
      width: 100%;
    }
  }

  .h2-title {
    max-width: 285px;
  }

  .service {
    .h2-title {
      margin-bottom: 40px;
    }
  }

  .service-item {
    max-width: 288px;
    margin-left: 0;

    br {
      display: none;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .service:after {
    width: 388px;
    background-size: 100%;
    left: 17%;
  }


  .documents {
    padding: 40px 0 80px;
  }

  .documents-item {
    margin-bottom: 40px;

    .title {
      width: 100%;
      font-size: 24px;
      margin-bottom: 16px;

      br {
        display: none;
      }
    }
  }

  .located-item {
    position: static;
    padding: 32px 16px;

    .title {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
    }

    a {
      &.phone {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 40px;
      }

      &.email {
        font-size: 16px;
      }
    }
  }

  .located {
    padding-bottom: 0;
  }

  .map {
    position: static;
    height: 320px;
    width: 100%;
    margin-top: 0;
  }

  .footer {
    padding: 40px 0;

    .menu li {
      margin-right: 0;
      display: block;
    }
  }

  .footer-left {
    display: block;
  }

  .footer-left .footer-logo {
    margin-bottom: 16px;
  }

  .footer-right {
    margin-top: 71px;
    position: relative;
  }

  .footer-right svg {
    margin-right: 0;
    margin-bottom: 0;
    position: absolute;
    right: 55px;
    bottom: 15px;

  }

  .footer-right p {
    text-align: right;
  }

  .partners-list li:first-child {
    .partners-info {
      left: 80%;
    }
  }

  #tab1 .section_map-points li span {
    display: none;
  }

  .sea-group {
    display: flex !important;
  }

  /*  #tab2 .section_map-points li:nth-child(9) {
    display: -ms-flexbox;
    display: flex;
    top: 24.861111vw;
    left: 76.402778vw;
}
  #tab2 .section_map-points li:nth-child(10) {
    display: -ms-flexbox;
    display: flex;
    top: 21.888889vw;
    left: 84.347222vw;
}*/


  .section_map-points li .info {
    background: rgba(255, 255, 255, .9);
    padding: 3px;
    position: relative;
    z-index: 87;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    bottom: 100% !important;
    left: 50% !important;
    transform: translateX(-50%);
  }

  .section_map-points {
    li {
      &.factories-item {
        span {
          //          display: block !important; 
        }
      }
    }
  }

  .section_one-item.bg .title-small {
    br {
      display: none;
    }
  }

  .section_two-item {


    .maxwidth {
      padding-right: 0px;
    }
  }

  .service-item {
    padding-right: 0;
  }


  .head-slider {
    height: 100vh;
    min-height: 695px;
  }

  .section_one:before {
    content: "";
    background: url(../images/moba.svg) center no-repeat;
    width: 102px;
    height: 182px;
    position: absolute;
    bottom: inherit;
    background-size: 100%;
    left: 0;
    top: 443px;
  }

  .partners-list:not(.slick-dots) {
    .slick-dots {
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0 15px;
    }
  }

  .partners-carousel {
    margin-left: -20px !important;
    margin-right: -20px !important;
  }

  .slick-center {
    .partners-info {
      display: block !important;
      text-align: center !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }
  }

  .section_map-new-img {
    margin-top: -85px;
    margin-bottom: -85px;
  }
  .form-feedback {
    margin: 0;
  }
}